.table-cont, #library-form {
  padding: 5vw;
  margin-top: 5%;
}

.form-cont {
  height: 500px;
}

form {
  border: 1px solid rgb(161, 7, 123);
  border-radius: 15px;
  width: 500px;
  margin: auto;
  color: rgb(4, 167, 4);
}

h3 {
  text-align: center;
}

.title {
  display: flex;
}
